*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
li,
a {
  text-decoration: none;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
/* ! Srcollbar CSS Start */
html {
  scroll-behavior: smooth;
}
#progressbar {
  background-color: #2ecc71;
  position: fixed;
  bottom: 20px;
  right: 9px;
  width: 70px;
  height: 70px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 2px 2px 10px 0 rgba(83, 79, 79, 0.5);
  cursor: pointer;
}

#progressbar-value {
  display: block;
  width: 50px;
  height: 50px;
  /* background-color: rgba(0, 0, 0, 0.2); */
  background-color: #ffffff;
  display: flex;
  border-radius: 50%;
  place-items: center;
  position: absolute;
  font-size: 30px;
  color: #2ecc71;
  top: auto;
  bottom: 10px;
  left: auto;
  right: 10px;
  justify-content: center;
  align-items: center;
}

/* ! Srcollbar CSS End */

/* Header CSS */
.m_nav {
  background: #f0fff0 !important;
  padding: 0;
}

.m_menu ul li a {
  color: #000;
  font-weight: 400;
}

.m_menu ul li {
  margin-left: 30px;
}

.sign_btn {
  color: #ffffff;
  background: #21b573;
  border-radius: 33px;
  padding: 10px 24px;
  margin-left: 30px;
  transition: 0.5s;
}
.sign_btn:hover {
  background: #fc427b;
  color: #ffffff;
  transition: 0.5s;
}

/* hero section CSS */
.hero_sec {
  background: #f0fff0 !important;
  padding-bottom: 40px;
}

.hero_content {
  padding-top: 80px;
}
.hero_sec .h_btn {
  padding: 12px 24px;
  border-radius: 33px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  background: #21b573;
  transition: 0.5s;
  border: 1px solid #000;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.hero_sec .h_btn:hover {
  background: #fc427b;
  color: #ffffff;
  transition: 0.5s;
}

.hero_sec h6 {
  color: red;
  padding-top: 20px;
  width: 65%;
}

.hero_sec h1 {
  color: #000;
  padding-top: 20px;
  width: 54%;
  font-weight: 700;
}
.hero_sec h1 span {
  color: #21b573;
}
.hero_sec p {
  color: #000;
  line-height: 36px;
  width: 63%;
  padding-bottom: 20px;
}

.h_img {
  margin-bottom: 30px;
  padding-left: 80px;
  padding-top: 50px;
}

/* books Part CSS */
.bk_part {
  padding: 50px 10px 10px 10px;
  background: #f0fff0 !important;
  margin: 20px 30px;
  height: 270px;
  width: 270px;
  text-align: center !important;
  border-radius: 10px;
}

.bk_part:hover {
  background: #ffffff !important;
  box-shadow: 0px 20px 20px 0px #0000001a;
}
.bk_part img {
  height: 85px;
  align-items: center;
  vertical-align: middle;
  max-width: 100%;
}

.bk_part h2 {
  font-weight: 500;
  font-size: 24px;
  padding-top: 20px;
}

.bk_part p {
  color: #585859;
  padding: 0 !important;
}
/* book Part CSS end */
/* Courses Part CSS Strat */

.course_sec {
  padding: 15px;
  box-shadow: 0px 20px 20px 0px #0000001a;
  margin: 20px;
  width: 400px;
}
.course_head {
  font-weight: 700;
  font-size: 36px;
  margin: 40px 0;
}

.course_img {
  width: 370px;
  height: 240px;
}
.cf_prt img {
  width: 24px;
  margin-right: 10px;
  margin-left: 10px;
}
.cf_cont {
  padding-right: 20px;
}

.c_btn {
  padding: 12px 24px;
  border-radius: 33px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  background: #21b573;
  transition: 0.5s;
}

.c_btn:hover {
  background: #fc427b;
  color: #ffffff;
  transition: 0.5s;
}

.cf_prt {
  margin-bottom: 20px !important;
}
.cf_img {
  width: 24px;
}
/* Courses Part CSS end */
/* tsetmonial part CSS start */

.t_head {
  text-align: center;
  margin: 60px;
  font-weight: 700 !important;
  font-size: 36px;
}

.t_head h1 {
  font-weight: 700;
  font-size: 36px;
}
.test_row {
  border: none;
}
.col_img {
  padding-left: 100px;
}

.test_img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.text_wdth {
  width: 600px;
}
/* tsetmonial part CSS End */

/* Footer part CSS start  */

.footer_prt {
  background: #282531;
  color: white;
}
.ftr_main {
  display: flex;
  padding: 50px 0;
}

.ft_course ul li {
  text-decoration: none;
  list-style: none;
}

.ft_course ul li a {
  color: #cdcdcd;
}
.ft_course ul {
  margin: 0;
  text-align: left;
  padding: 15px 0;
}

.footer_content {
  flex-basis: 40%;
  font-size: 18px;
}

.footer_content p {
  font-size: 18px;
  text-align: center;
  width: 80%;
  position: absolutes;
  top: 100px;
}

.ftr_left {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
}

.footer_content1 h2 {
  font-size: 18px;
  text-align: left;
}

.footer_content1 {
  flex-basis: 30%;
  margin-left: 30px;
}

.ftr_ct {
  flex-basis: 60%;
  display: flex;
}

.copy_rt {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
}
